body , html {
    height: 100%;
    font-family: "メイリオ", sans-serif;
    background: #EEEEDD;
}

#container {
    width: 100%;
    position: relative;
    height: auto !important;
    height: 100%;
    min-height: 100%;
}

#contents {
    padding-bottom: 60px;
    padding-top: 90px;
    padding-left: 60px;
    color: #505050;
}

#header {
    position: fixed;
    top: 0;
    width: 100%;
    height: 90px;
    background: #3AA8BF;
    color: #F2F2F2;
    padding-left: 30px;
}

#footer {
    background: #000000;
    color: #A0A0A0;
    position: fixed;
    bottom: 0;
    width: 100%;
    height: 60px;
    text-align:  center;
}
